body{
    background-image: url(backgrounds/two.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

button{
    button-size: 20px;
}

.intro_button{

}
.box {

}
header {
nav {
   
}
main {}
footer {
 
}